.top-bar {
  height: 45px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  background-color: #1e2434;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}

.topbar-inner{
    display: flex;
    gap: 20px;
}

.logoutpaara{
    cursor: pointer;
}